{% extends '../layout.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}
    <div class="container-sm">
        <div class="title-img-wrap">
            <div class="post-header">
                <h1 class="post-title">{{ post.title }}</h1>
                <br>
                <p>
                    <span><img src="{% static 'images/user.png' %}"></span>
                    <span style="font-weight: bold; margin-left: 10px;">{{ post.author }}</span>
                </p>
            </div>
        </div>
        <br>
        <p class="fs-5 text-body-secondary">{{ post.content|safe }}</p>
        <br>
        {% if user.is_authenticated %}
            <form class="row" method="POST">
                {% csrf_token %}
                <div class="col-10 border-start border-success-subtle border-4">
                    <textarea class="form-control" placeholder="Comment..." name="text"></textarea>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-dark mb-2">Send</button>
                </div>
            </form>

        {% else %}
            <div>
                <a class="nav-link" href="{% provider_login_url 'google' %}?next={{ request.path }}">
                    <button type="button" class="btn btn-dark">
                        Write comment
                    </button>
                </a>
            </div>
        {% endif %}
        <br>
        <div class="comments">
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <small>{{ comment.user.username }}</small>
                        <p>{{ comment.text }}</p>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
